################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/src/NugetDemo/.vs
/LicenseDiffTool/.vs/LicenseDiffTool.slnx/FileContentIndex
/src/NpmDemo/.vs/NpmDemo.slnx/FileContentIndex
